<html>
    <head>
        <title>Blog DjangoGirls</title>
    </head>
    <body>
        <div>
            <h1><a href="">DjangoGirls</a></h1>
        </div>

        <div>
            <p>published: 29.05.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Opis opis jakis tam opis</p>
        </div>

        <div>
            <p>published: 30.05.2017, 08:20</p>
            <h2><a href="">My second post</a></h2>
            <p>Opis opis jakis tam opis</p>
        </div>
   
    </body>
</html>